[versions]
Beaker = 1.6.1
Markdown = 2.0.3
Sphinx = 1.1.2
jarn.mkrelease = 3.4
pymongo = 2.0.1
python-memcached = 1.47
redis = 2.4.10
sqlalchemy-migrate = 0.7.2
zest.releaser = 3.28

#Required by:
#pyramid-formalchemy 0.4.1
#mobyle2.core 1.0dev
#fa.jquery 0.9.4
Babel = 0.9.6

#Required by:
#fa.jquery 0.9.4
#pyramid-formalchemy 0.4.1
FormAlchemy = 1.4.1

#Required by:
#pyramid 1.2.1
Mako = 0.5.0

#Required by:
#WebError 0.10.3
#PasteScript 1.7.4.2
#mobyle2.core 1.0dev
#repoze.who 2.0
#pyramid 1.2.1
Paste = 1.7.5.1

#Required by:
#pyramid 1.2.1
#mobyle2.core 1.0dev
#PasteScript 1.7.4.2
PasteDeploy = 1.5.0

#Required by:
#pyramid 1.2.1
PasteScript = 1.7.4.2

#Required by:
#pyramid-debugtoolbar 0.9.4
#WebError 0.10.3
#Sphinx 1.1.2
Pygments = 1.4

#Required by:
#zope.sqlalchemy 0.6.1
#sqlalchemy-migrate 0.7.2
#FormAlchemy 1.4.1
SQLAlchemy = 0.7.3

#Required by:
#FormAlchemy 1.4.1
#fa.jquery 0.9.4
WebHelpers = 1.3

#Required by:
#sqlalchemy-migrate 0.7.2
decorator = 3.3.2

#Required by:
#Sphinx 1.1.2
docutils = 0.8.1

#Required by:
#mobyle2.core 1.0dev
fa.jquery = 0.9.4

#Required by:
#jarn.mkrelease 3.4
lazy = 1.0

#Required by:
#zope.testbrowser 4.0.2
mechanize = 0.2.5

#Required by:
#lingua 1.1dev
polib = 0.7.0

#Required by:
#fa.jquery 0.9.4
postmarkup = 1.1.4

#Required by:
#mobyle2.core 1.0dev
pyramid-beaker = 0.5

#Required by:
#mobyle2.core 1.0dev
pyramid-extdirect = 0.3

#Required by:
#mobyle2.core 1.0dev
pyramid-formalchemy = 0.4.1

#Required by:
#mobyle2.core 1.0dev
pyramid-who = 0.2

#Required by:
#zope.testbrowser 4.0.2
pytz = 2011k

#Required by:
#velruse 0.20a1dev
requests = 0.8.1

#Required by:
#jarn.mkrelease 3.4
setuptools-git = 0.4.2

#Required by:
#jarn.mkrelease 3.4
setuptools-hg = 0.3

#Required by:
#fa.jquery 0.9.4
textile = 2.1.5

#Required by:
#lingua 1.1dev
xlrd = 0.7.1

#Required by:
#lingua 1.1dev
xlwt = 0.7.2

#Required by:
#mobyle2.core 1.0dev
zope.dottedname = 3.4.6

#Required by:
#Apex 0.9.1dev
zope.sqlalchemy = 0.6.1

#Required by:
#mobyle2.core 1.0dev
zope.testbrowser = 4.0.2
